<nav class="mb-2 navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand">
      <i class="bi bi-coin"></i>
      Araç Kiralama</a
    >

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/"
            >Anasayfa</a
          >
        </li>
        <li *ngIf="isAuthorizedAdmin" class="nav-item">
          <a class="nav-link" routerLink="/cars/update">Araç ekle</a>
        </li>
        <li *ngIf="isAuthenticated" class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{
              isCustomer
                ? customerDto.companyName
                : userDto.firstName + " " + userDto.lastName
            }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a (click)="logout()" class="dropdown-item" href="#">Çıkış yap</a>
            </li>
          </ul>
        </li>
      </ul>
      <form *ngIf="!isAuthenticated" class="d-flex">
        <button
          routerLink="/login"
          class="btn btn-outline-success"
          type="submit"
        >
          Giriş yap
        </button>
        <button
          routerLink="registerCustomer"
          class="btn btn-outline-success ms-1"
          type="submit"
        >
          Üye ol
        </button>
      </form>
    </div>
  </div>
</nav>
